
.classpath

.project

.settings

target
.gitignore~

.DS_Store

bin
nb-configuration.xml

dependency-reduced-pom.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.next
release.properties
.idea
*.iml
drivers
